dist: bionic
language: python
python:
    - "3.6"
    - "3.7"
    - "3.8"
before_install:
    - pip install poetry
install:
    - poetry build
    - poetry install    
script:
    - pytest --cov=./
    # Add scripts for linting
after_success:
    - codecov